:root {
    --header-col : red;

}

.abitable.striped {
    width: 100%;
    border-collapse: collapse;
    border: 0px solid #ccc;
    font-family: Arial, Tahoma;
}

.abitable.striped > thead th , .abitable.striped > tbody td {
    padding: 1rem;
}

.abitable.striped.r10  tr:first-child th:first-child {
    border-top-left-radius: 10px;
}



.abitable.striped > thead th {
    background-color: var(--header-col);
    color: #202020;
}

.abitable.striped > tbody tr:nth-child(odd){
    background-color: #fff;
}

.abitable.striped > tbody tr:nth-child(even){
    background-color: #e4e4e4;
}



